body {
  background-color: #333;
  font-family: Orbitron;
}

.container {
  height: 100vh;
  width: 100%;
  padding-top: 5rem;
  display: flex;
  justify-content: center;
}

.clock {
  font-size: 3rem;
  font-weight: bold;
  color: #26ff00;
  text-align: center;
  border: 2px solid #26ff00;
  border-radius: 1rem;
  padding: 1rem 2rem;
  height: 80px;
  display: flex;
  align-items: center;
}

.clock span {
  margin-right: .5rem;
}